<!DOCTYPE html>
<html>

	<head th:include="include::header(~{::head/title},~{::head/link},~{::head/style},~{::head/script})"></head>  

	<body>
                	
        <!-- 搜索条件 -->
        <div id="tb" style="padding:2px 5px; display: none;">
             <form id="dg_search_form" style="margin: 0px;padding: 0px;">
             	<span>
				    <a href="javascript:;" class="easyui-linkbutton" iconCls="fa fa-plus" plain="true" shiro:hasPermission="template_code:table1:add" onclick="addDataByDialog('dlgAdd');" >添加</a>
				    <a href="javascript:;" class="easyui-linkbutton" iconCls="fa fa-trash" plain="true" shiro:hasPermission="template_code:table1:batchRemove" onclick="delDataBatch('dg_list','template_code/table1/batchRemove');">删除</a>
			    </span>
             	<!-- 第一种搜索方式，一个文本框搜索一个字段，所有搜索文本框需要在Form表单内 -->
             	<!-- 
		      	<label>用户名: </label><input class="easyui-textbox" name="username" style="width:110px">
		      	<label>邮箱: </label><input class="easyui-textbox" name="email" style="width:110px">
		      	<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-search" onclick="submitSearch('dg_list','dg_search_form');" >搜索</a>
		      	 -->
		      	<!-- 第二种搜索方式，一个文本框搜索多个字段，不需要在Form表单内，注意：默认搜索的KEY都是and关系，如果需要or关系， 需要在Mapper.xml文件中将list下的where条件中and改为or
		      	<input class="easyui-textbox" id="searchName" style="width:200px">
		        <a href="javascript:;" class="easyui-linkbutton" iconCls="fa fa-search" onclick="moreSearch('dg_list','username,email');" >搜索</a>
		        -->
		        <!-- 第三种搜索方式，集成easyui-searchbox -->
		        <span style="float: right;" >
				    <input class="easyui-searchbox" data-options="prompt:'请输入搜索内容',menu:'#searchmm',searcher:doSearch" style="width:250px;">
			    </span>
				<div id="searchmm">
			        <div data-options="name:'username'">用户名</div>
			    </div>
		    </form>
		</div>
	    	
	    <!-- 表格数据 -->
        <table id="dg_list" class="easyui-datagrid" style="display: none; width: 100%;" fit="true" data-options="singleSelect:false,method:'post',toolbar:'#tb'" 
        	url="template_code/table1/list" rownumbers="true" pagination="true">
			<thead>
				<tr>
					<!-- 注意如果有排序，排序的field要和数据库中字段一致，如果不一致，需在Mapper.xml文件中判断 -->
					<th data-options="field:'ck',checkbox:true"></th>
					<th field="id" sortable="true">ID</th>
					<th field="username" sortable="true">用户名</th>
					<th field="password">密码</th>
					<th field="email">邮箱</th>
					<th field="address">地址</th>
					<th field="#" formatter='formatCZ'>操作</th>
				</tr>
			</thead>
		</table>
	
		<!-- 弹框（预览） -->
		<div id="dlgPreview" class="easyui-dialog" title="预览" 
			data-options="iconCls:'icon-search',minimizable:true,maximizable:true,resizable:true,modal:true,closed: true,buttons:'#dlgPreviewFoot'" 
			style="width:400px;padding:10px; display: none;">
			<form id="dlgPreviewForm">
	        	<div style="margin-bottom:10px">
	                <input class="easyui-textbox" name="username" style="width:100%" data-options="label:'用户名:',readonly:true">
	            </div>
	            <div style="margin-bottom:10px">
	                <input class="easyui-textbox" name="password" style="width:100%" data-options="label:'密码:',readonly:true">
	            </div>
	            <div style="margin-bottom:10px">
	                <input class="easyui-textbox" name="email" style="width:100%" data-options="label:'邮箱:',readonly:true">
	            </div>
	            <div style="margin-bottom:10px">
	                <input class="easyui-textbox" name="address" style="width:100%" data-options="label:'地址:',readonly:true">
	            </div>
	        	
	        	<div id="dlgPreviewFoot">
					<a href="javascript:;" onclick="$('#dlgPreview').dialog('close')" class="easyui-linkbutton">关闭</a>
				</div>
			</form>
	    </div>
	    
	    <!-- 弹框（修改） -->
		<div id="dlgMod" class="easyui-dialog" title="修改" 
			data-options="iconCls:'icon-edit',minimizable:true,maximizable:true,resizable:true,modal:true,closed: true,buttons:'#dlgModFoot'" 
			style="width:400px;padding:10px;display: none;">
			<form id="dlgModForm" action="template_code/table1/update" method="post">
				<input name="id" type="hidden">
	        	<div style="margin-bottom:10px">
	                <input class="easyui-textbox" name="username" style="width:100%" data-options="label:'用户名:',required:true">
	            </div>
	            <div style="margin-bottom:10px">
	                <input class="easyui-textbox" name="password" style="width:100%" data-options="label:'密码:',required:true">
	            </div>
	            <div style="margin-bottom:10px">
	                <input class="easyui-textbox" name="email" style="width:100%" data-options="label:'邮箱:',required:true">
	            </div>
	            <div style="margin-bottom:10px">
	                <input class="easyui-textbox" name="address" style="width:100%" data-options="label:'地址:',required:true">
	            </div>
        	</form>
        	<div id="dlgModFoot">
				<a href="javascript:;" onclick="submitForm('dlgModForm')" class="easyui-linkbutton" style=" ">修改</a>
				<a href="javascript:;" onclick="$('#dlgMod').dialog('close')" class="easyui-linkbutton">取消</a>
			</div>
	    </div>
	    
	    <!-- 弹框（添加） -->
		<div id="dlgAdd" class="easyui-dialog" title="添加" 
			data-options="iconCls:'icon-add',minimizable:true,maximizable:true,resizable:true,modal:true,closed: true,buttons:'#dlgAddFoot'" 
			style="width:400px;padding:10px;display: none;">
			<form id="dlgAddForm" action="template_code/table1/save" method="post">
	        	<div style="margin-bottom:10px">
	                <input class="easyui-textbox" name="username" style="width:100%" data-options="label:'用户名:',required:true">
	            </div>
	            <div style="margin-bottom:10px">
	                <input class="easyui-textbox" name="password" style="width:100%" data-options="label:'密码:',required:true">
	            </div>
	            <div style="margin-bottom:10px">
	                <input class="easyui-textbox" name="email" style="width:100%" data-options="label:'邮箱:',required:true">
	            </div>
	            <div style="margin-bottom:10px">
	                <input class="easyui-textbox" name="address" style="width:100%" data-options="label:'地址:',required:true">
	            </div>
        	</form>
        	<div id="dlgAddFoot">
				<a href="javascript:;" onclick="submitForm('dlgAddForm')" class="easyui-linkbutton">添加</a>
				<a href="javascript:;" onclick="$('#dlgAdd').dialog('close')" class="easyui-linkbutton">取消</a>
			</div>
	    </div>
	    
	    <!-- 公共文件（页脚） -->
	    <div th:include="include::footer"></div>
	    <script type="text/javascript" src="app/js/template_code/table1/list.js"></script>
		
		<div shiro:hasPermission="template_code:table1:get">
			<script>comm_shiro_str += 'template_code:table1:get,';</script>
		</div>
		<div shiro:hasPermission="template_code:table1:edit">
			<script>comm_shiro_str += 'template_code:table1:edit,';</script>
		</div>
		<div shiro:hasPermission="template_code:table1:remove">
			<script>comm_shiro_str += 'template_code:table1:remove,';</script>
		</div>
		

	</body>

</html>
